@import "tailwindcss";
/* src/app/globals.css */

html {
  /* Forzamos a que no herede nada del sistema */
  background-color: #f8fafc; /* bg-slate-50 */
  color: #0f172a; /* text-slate-900 */
}

/* Forzar el cursor de texto (caret) a ser siempre oscuro en los inputs */
input, textarea {
  caret-color: #0f172a !important; 
  color: #0f172a !important;
}